<% content_for :title, 'Issue New Notice of Non-Compliance' %>
<% content_for :breadcrumbs, breadcrumbs_helper(['Issue new Notice of Non-Compliance']) %>
<div data-controller="notices--new">
  <%= form_with model: @notice,
    local: true,
    builder: BracegirdleFormBuilder do |f| 
  %>
    <div class="form-layout">
      <section class="section-wrapper">
        <%= content_tag(
          :div, 
          'There was a problem saving this Notice of Non-Compliance!', 
          class: 'alert alert-danger', 
          role: 'alert'
        ) if @notice.errors.any? 
        %>
        <label class="section-title">Cemetery Information</label>
        <div 
          data-controller="trustees--select-for-cemetery"
          data-target="notices--new.trusteesSelectForCemetery"
        >
          <%= render partial: 'application/cemetery_with_county_form_part', 
            locals: {
              action: 'addItem->trustees--select-for-cemetery#loadTrustees',
              f: f, 
              object: @notice, 
              target: 'trustees--select-for-cemetery.cemetery'
            } 
          %>
          <div class="row">
            <div class="col">
              <%= render partial: 'trustees/select_form_part',
                locals: {
                  action: 'notices--new#loadServedOnInformation',
                  f: f,
                  target: 'notices--new.trustee',
                  trustee_label: 'Served On'
                }
              %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.text_field :served_on_street_address, label: 'Address', required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :served_on_city, label: 'City', required: true %>
          </div>
          <div class="col-md-2">
            <%= f.select :served_on_state, 
              options_for_select(STATES, @notice.served_on_state),  
              { label: 'State', required: true },
              { 
                data: {
                  target: 'notices--new.stateSelectElement'
                }
              }
            %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :served_on_zip, label: 'ZIP Code', required: true %>
          </div>
        </div>
      </section>
      <section class="section-wrapper mg-t-10">
        <label class="section-title">Violation Information</label>
        <div class="row">
          <div class="col">
            <%= f.text_area :law_sections, label: 'Law Sections', required: true, rows: 10 %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= f.text_area :specific_information, label: 'Specific Information', required: true, rows: 10 %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.date_field :violation_date,
              label: 'Violation Date',
              required: true
            %>
          </div>
          <div class="col-md-6">
            <%= f.date_field :response_required_date,
              label: 'Response Required',
              required: true
            %>
          </div>
        </div>
        <div class="form-layout-footer mg-t-20">
          <button type="submit" class="btn btn-primary">Issue Notice</button>
        </div>
      </section>
    </div>
  <% end %>
</div>
