<% content_for :title, 'All Crematories' %>
<% content_for :breadcrumbs, breadcrumbs_helper(['All crematories']) %>
<section class="section-wrapper">
  <div data-controller="datatable">
    <table 
      id="crematories-data-table"
      class="table responsive no-wrap"
      data-empty-message="There are no crematories to display."
    >
      <thead>
        <tr>
          <th>Crematory ID</th>
          <th>Name</th>
          <th>County</th>
          <th>Classification</th>
          <th data-type="date" data-format="MMMM D, YYYY">Last Inspection</th>
          <th data-type="date" data-format="MMMM D, YYYY">Last Audit</th>
        </tr>
      </thead>
      <tbody>
        <% @crematories.each do |crematory| %>
          <tr>
            <td><%= crematory.formatted_cemid %></td>
            <td><%= link_to crematory.name, crematory %></td>
            <td><%= "#{crematory.county_name} County" %></td>
            <td><%= crematory.formatted_classification %></td>
            <td><%= crematory.last_inspection_date || 'No inspection recorded' %></td>
            <td><%= crematory.last_audit_date || 'No audit recorded' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
