<%= form_with model: [@crematory, Retort.new], 
  url: crematory_retorts_path(@crematory), 
  builder: BracegirdleFormBuilder do |f| 
%>
  <div 
    id="retorts-form-modal" 
    class="modal fade"
    data-action="bracegirdle:crematories:retort_models:retortModelCreated->retorts--form#retortModelCreated"
    data-controller="retorts--form"
    data-target="retorts--index.retortForm"
  >
    <div class="modal-dialog modal-lg wd-60p" role="document">
      <div class="modal-content">
        <div class="modal-header pd-x-20">
          <h6 
            class="tx-14 mg-b-0 tx-uppercase tx-inverse tx-bold"
            data-target="retorts--form.title"
          >Add New Retort</h6>
          <button class="close" type="button" aria-label="Close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body pd-25">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="form-group required">
                  <%= f.label :retort_model, 'Retort Model' %>
                  <div class="input-group">
                    <div class="row wd-100p no-gutters">
                      <div class="col-md-9">
                        <%= f.select :retort_model,
                          retort_model_options(RetortModel.all.order(:name)),
                          { label: false, prompt: 'Select retort model', required: true },
                          { 
                            class: 'form-control choices-basic',
                            data: { 
                              target: 'retorts--form.retortModelSelectElement' 
                            }
                          }
                        %>
                      </div>
                      <div class="col-md-3 text-md-right">
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-action="retorts--form#openNewRetortModelForm"
                        >Add Retort Model</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.date_field :installation_date, label: 'Installation Date', required: true %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.text_area :notes, rows: 5 %>
              </div>
            </div>
          </div>
          <div class="modal-footer mg-t-20">
            <button 
              class="btn btn-primary"
              data-target="retorts--form.submit"
            >Add New Retort</button>
            <button 
              type="button" 
              class="btn btn-secondary" 
              data-dismiss="modal"
            >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div>