<% content_for :title, 'View Attachment' %>
<% content_for :breadcrumbs, breadcrumbs_helper([[@attachment.attachable.link_text, @attachment.attachable], 'View attachment']) %>
<section class="section-wrapper">
  <div class="row mg-b-10">
    <div class="col-md-11 col-sm-3">
      <label class="section-title"><%= @attachment.file.filename %></label>
    </div>
    <div class="col-md-1 text-right">
      <%= link_to @attachment.file, disposition: 'attachment' do %>
        <i class="material-icons tx-18 tx-black">cloud_download</i>
      <% end %>
    </div>
  </div>
  <div 
    class="embed-responsive"
    style="padding-top: 100%; -webkit-overflow-scrolling: touch !important; overflow-y: auto !important; overflow-x: scroll;"
  >
    <object
      class="embed-responsive-item"
      type="<%= @attachment.file.blob.content_type %>"
      data="<%= attachment_display_link(@attachment.file, request) %>"
    ></object>
  </div>
</section>
<section class="section-wrapper mg-t-5 pd-t-30">
  <label class="section-title mg-b-20">Information</label>
  <table class="table table-striped">
    <tbody>
      <tr>
        <th class="wd-30p">Uploaded By</th>
        <td><%= @attachment.user.name %></td>
      </tr>
      <tr>
        <th>Description</th>
        <td><%= @attachment.description %></td>
      </tr>
    </tbody>
  </table>
</section>