<% content_for :title, 'View Inspection' %>
<% content_for :breadcrumbs, 
  breadcrumbs_helper(
    [
      [@inspection.cemetery.formatted_name, cemetery_path(@inspection.cemetery)], 
      ['Inspections', inspections_cemetery_path(@inspection.cemetery)], 
      "View inspection of #{@inspection.date_performed}"
    ]
  ) 
%>
<div
  id="cemetery_inspections-show"
  data-action="bracegirdle:cemetery_inspections:inspectionFinalized->cemetery-inspections--show#finalize"
  data-controller="cemetery-inspections--show"
>
  <section id="cemetery_inspection-detail" class="section-wrapper">
    <div class="row mb-2">
      <div class="col-md-11 col-sm-3">
        <label class="section-title">Inspection (performed <%= @inspection.date_performed %>)</label>
      </div>
      <div class="col-md-1 text-right">
        <%= link_to download_cemetery_inspection_report_link @inspection do %>
          <i class="material-icons tx-18 tx-black">cloud_download</i>
        <% end %>
      </div>
    </div>
    <%= render partial: 'application/pdf_viewer',
      locals: {
        url: display_cemetery_inspection_report(@inspection)
      }
    %>
  </section>
  <section class="section-wrapper mt-1 pt-5">
    <label class="section-title mb-4">Information</label>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="w-30">Performed By</th>
          <td><%= @inspection.investigator&.name || 'Unknown' %></td>
        </tr>
        <tr>
          <th>Date</th>
          <td><%= "#{@inspection.date_performed} (#{time_ago_in_words(@inspection.date_performed)} ago)" %></td>
        </tr>
        <tr>
          <th>Additional Comments</th>
          <td><%= @inspection.additional_comments.present? ? simple_format(@inspection.additional_comments) : 'None' %></td>
        </tr>
        <tr>
          <th>Status</th>
          <td data-target="cemetery-inspections--show.status">
            <%= verbose_cemetery_inspection_status(@inspection) %>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <%= render 'attachments/attachments', object: @inspection, form: @inspection.performed? %>
  <% if !@inspection.legacy? %>
    <section class="section-wrapper mt-1 pt-5">
      <label class="section-title mb-4">Actions</label>
        <div class="form-layout-footer">
          <%= button_with_confirmation_modal 'Finalize inspection',
            class: ('d-none' if @inspection.completed?),
            form_action: finalize_inspection_cemetery_path,
            target: 'cemetery-inspections--show.finalizeButton',
            text: 'Are you sure you want to finalize this inspection?',
            title: 'Finalize Inspection'
          %>
          <%= button_with_confirmation_modal 'Revise inspection',
            class: ('d-none' if @inspection.completed?),
            form_action: revise_inspection_cemetery_path,
            target: 'cemetery-inspections--show.reviseButton',
            text: 'Are you sure you want to revise this inspection?',
            title: 'Revise Inspection'
          %>
          <button
            type="button"
            class="btn btn-secondary<%= ' d-none' unless @inspection.completed? %>"
            data-action="cemetery-inspections--show#openReprintModal"
            data-target="cemetery-inspections--show.reprintButton"
          >Reprint inspection package</button>
        </div>
    </section>
  <% end %>
  <div id="cemetery_inspection-download-package-modal" 
    class="modal"
    data-target="cemetery-inspections--show.downloadModal"
  >
    <div class="modal-dialog w-30" role="document">
      <div class="modal-content">
        <div class="modal-header px-4">
          <h6 class="tx-14 mb-0 tx-uppercase tx-inverse tx-bold">Download Inspection Package</h6>
          <button 
            type="button" 
            class="close"
            data-bs-target="#cemetery_inspection-download-package-modal"
            data-bs-toggle="modal" 
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <p class="text-center">
            Click below to download the inspection package.
            <br />
            <br />
            <%= link_to(
              content_tag(:i, 'attachment', class: 'material-icons mr-3 tx-danger tx-24') + 
                "Download #{@inspection.identifier}.pdf", 
              view_full_inspection_package_cemetery_path(@inspection.cemetery, @inspection),
              {
                id: 'cemetery_inspection-download-package-link',
                class: 'btn btn-outline-secondary btn-lg btn-block',
                target: '_blank'
              }
            ) 
            %>
          </p>
        </div>
        <div class="modal-footer">
          <button 
            type="button" 
            class="btn btn-secondary"
            data-bs-target="#cemetery_inspection-download-package-modal"
            data-bs-toggle="modal"
          >Close</button>
        </div>
      </div>
    </div>
  </div>
</div>