<% @remaining_letters = ('B'..'Z').to_a %>
<div class="file-group mt-4">
  <div class="file-item">
    <div class="row no-gutters w-100">
      <div class="col-lg-9 d-flex align-items-center">
        <i class="material-icons">attach_file</i>
        <%= link_to 'Combined Package.pdf', 
          self.send("view_combined_board_applications_#{@restoration.type.downcase}_path", @restoration.id) 
        %>
      </div>
    </div>
  </div>
  <div class="file-item">
    <div class="row no-gutters w-100">
      <div class="col-lg-9 d-flex align-items-center">
        <i class="material-icons">attach_file</i>
        <%= link_to 'Report.pdf', 
          self.send("view_report_board_applications_#{@restoration.type.downcase}_path", @restoration.id)
        %>
      </div>
    </div>
  </div>
  <div class="file-item">
    <div class="row no-gutters w-100">
      <div class="col-lg-9 d-flex align-items-center">
        <i class="material-icons">attach_file</i>
        <%= link_to 'Exhibit A (application).pdf', 
          self.send("view_application_form_board_applications_#{@restoration.type.downcase}_path", @restoration) 
        %>
      </div>
    </div>
  </div>
  <%= render partial: 'board_applications/restorations/estimates/estimate', collection: @restoration.estimates %>
  <div class="file-item">
    <div class="row no-gutters w-100">
      <div class="col-lg-9 d-flex align-items-center">
        <i class="material-icons">attach_file</i>
        <%= link_to "Exhibit #{@remaining_letters.shift} (legal notice).pdf", 
          self.send("view_legal_notice_board_applications_#{@restoration.type.downcase}_path", @restoration.id)
        %>
      </div>
    </div>
  </div>
  <% if @restoration.previous_exists %>
    <div class="file-item">
      <div class="row no-gutters w-100">
        <div class="col-lg-9 d-flex align-items-center">
          <i class="material-icons">attach_file</i>
          <%= link_to "Exhibit #{@remaining_letters.shift} (previous restoration report).pdf", 
            self.send("view_previous_report_board_applications_#{@restoration.type.downcase}_path", @restoration.id)
          %>
        </div>
      </div>
    </div>
  <% end %>
</div>
