<% content_for :title, "View #{@restoration.formatted_application_type} Application" %>
<% content_for :breadcrumbs, 
  breadcrumbs_helper(
    [
      [
        "Pending #{@restoration.type.downcase} applications", 
        self.send("board_applications_#{@restoration.type.downcase}_index_path")
      ], 
      "Application #{@restoration.identifier}"
    ]
  ) 
%>
<div
  id="board_applications-restorations-show"
  data-controller="board-applications--restorations--show"
>
  <div 
    class="disappearing-success-message<%= ' hidden' unless flash[:success] %>"
    data-target="board-applications--restorations--show.successMessage"
  >
    <div class="alert alert-success"><%= flash[:success] %></div>
  </div>
  <% unless @restoration.received? %>
    <section class="section-wrapper">
      <label class="section-title">Summary</label>
      <%= render partial: 'board_applications/restorations/exhibits' %>
    </section>
  <% end %>
  <%= render partial: 'board_applications/restorations/detail' %>
</div>
<%= render 'notes/notes', 
  object: @restoration, 
  url: self.send("board_applications_#{@restoration.type.downcase}_notes_path", @restoration) 
%>