<% content_for :title, 'Upload New Rules' %>
<% content_for :breadcrumbs, breadcrumbs_helper(['Upload new rules']) %>
<%= form_for @rules_approval, builder: BracegirdleFormBuilder do |f| %>
  <div class="form-layout" data-controller="rules--approvals--new">
    <section class="section-wrapper">
      <%= content_tag(:div, 
          'There was a problem saving these rules!', 
          class: 'alert alert-danger', 
          role: 'alert'
        ) if @rules_approval.errors.any?
      %>
      <div 
        data-controller="trustees--select-for-cemetery"
        data-target="rules--approvals--new.trusteesSelectForCemetery"
      >
        <label class="section-title">Cemetery Information</label>
        <%= render partial: 'application/cemetery_with_county_form_part', 
          locals: {
            action: 'addItem->trustees--select-for-cemetery#loadTrustees',
            f: f, 
            object: @rules_approval, 
            instance: 'rules_approval-1',
            target: 'trustees--select-for-cemetery.cemetery'
          } 
        %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group required">
              <%= f.label :trustee, 'Submitted By' %>
              <div class="input-group">
                <div class="row no-gutters" style="width: 99%;">
                  <div class="col-md-9">
                    <%= hidden_field_tag :selected_id, 
                      @rules_approval.trustee&.id,
                      class: 'trustee-selected-id'
                    %>
                    <%= select :rules_approval,
                      :trustee,
                      {},
                      { label: false, prompt: 'Select trustee' },
                      { 
                        class: 'form-control', 
                        disabled: true,
                        data: {
                          action: 'rules--approvals--new#loadSenderInformation',
                          target: 'trustees--select-for-cemetery.trustee'
                        } 
                      }
                    %>
                  </div>
                  <div class="col-md-3 text-md-right" style="margin-left: -7px;">
                    <button
                      type="button"
                      class="btn btn-primary"
                      disabled="true"
                    >Add New Trustee</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group required">
              <label class="form-control-label">Manner of Request</label>
              <label class="rdiobox">
                <%= f.radio_button :request_by_email, 
                  true,
                  data: {
                    action: 'rules--approvals--new#setSubmissionType',
                    target: 'rules--approvals--new.requestByEmailTrue'
                  }
                %>
                <span id="rules-approval-request-by-email-yes">Email</span>
              </label>
              <label class="rdiobox">
                <%= f.radio_button :request_by_email, 
                  false,
                  data: {
                    action: 'rules--approvals--new#setSubmissionType'
                  }
                %>
                <span id="rules-approval-request-by-email-no">Postal Mail</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-none" data-target="rules--approvals--new.requestByEmailArea">
        <div class="col">
          <%= f.text_field :sender_email, label: 'Email Address', required: true %>
        </div>
      </div>
      <div data-target="rules--approvals--new.requestByPostalMailArea">
        <div class="row">
          <div class="col">
            <%= f.text_field :sender_street_address, label: 'Address', required: true %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.text_field :sender_city, label: 'City', required: true %>
          </div>
          <div class="col-md-2">
            <%= f.select :sender_state,
              options_for_select(STATES, @rules_approval.sender_state),
              { label: 'State', required: true }
            %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :sender_zip, label: 'ZIP Code', required: true %>
          </div>
        </div>
      </div>
    </section>
    <section class="section-wrapper mg-t-5">
      <label class="section-title">Rules</label>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group required">
            <%= f.label :rules_document, 'File' %>
            <div class="custom-file">
              <%= f.file_field :rules_document, class: 'custom-file-input' %>
              <label class="custom-file-label" for="rules_document">Choose file</label>
            </div>
            <small class="form-text text-muted">Acceptable file formats are .doc, .docx, and .pdf</small>
          </div>
        </div>
        <div class="col-md-4">
          <%= f.date_field :submission_date, label: 'Date Submitted', required: true %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.select :investigator, 
            employee_options(@rules_approval.investigator&.id, [:investigator]), 
            { include_blank: 'Unassigned' }
          %>
        </div>
      </div>
      <div class="form-layout-footer mg-t-20">
        <button class="btn btn-primary">Upload Rules</button>
      </div>
    </section>
  </div>
<% end %>
