<div class="content mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <strong class="card-title"><%= @title %></strong>
          </div>
          <div class="card-body">
            <table id="bootstrap-data-table" class="table table-striped table-bordered">
              <thead>
              <tr>
                <th>Cemetery ID</th>
                <th>Name</th>
                <th>County</th>
                <th>Location</th>
                <th>Last Inspection</th>
                <th>Last Audit</th>
              </tr>
              </thead>
              <tbody>
              <% @cemeteries.each do |cemetery| %>
                <tr>
                  <td><%= cemetery.cemetery_id %></td>
                  <td><%= link_to cemetery.name, cemetery %></td>
                  <td><%= cemetery.county_name %> County</td>
                  <td>
                    <a href="http://google.com/maps/?q=<%= cemetery.latitude %>,<%= cemetery.longitude %>">Google Maps</a>
                    <br /><%= cemetery.town.name %>
                  </td>
                  <td><%= cemetery.last_inspection %></td>
                  <td><%= cemetery.last_audit %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>


    </div>
  </div><!-- .animated -->
</div><!-- .content -->