<%= content_for :title, @cemetery.formatted_name %>
<%= content_for :breadcrumbs, 
  breadcrumbs_helper(
    [
      ['All cemeteries', cemeteries_path], 
      ["#{@cemetery.county_name} County", county_cemeteries_path(@cemetery.county)], 
      yield(:title)
    ]
  ) 
%>
<section id="cemetery-detail" class="section-wrapper">
  <nav>
    <div id="cemetery-nav-tab" class="nav nav-tabs" role="tablist">
      <a
        id="nav-details-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :details || params[:tab].nil?) %>"
        role="tab"
        data-bs-target="#details"
        data-bs-toggle="tab"
        data-height="false"
      >Details</a>
      <a
        id="nav-trustees-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :trustees) %>"
        role="tab"
        data-bs-target="#trustees"
        data-bs-toggle="tab"
        data-height="false"
      >Trustees</a>
      <a
        id="nav-complaints-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :complaints) %>"
        role="tab"
        data-bs-target="#complaints"
        data-bs-toggle="tab"
        data-height="false"
      >Complaints</a>
      <a
        id="nav-inspections-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :inspections) %>"
        role="tab"
        data-bs-target="#inspections"
        data-bs-toggle="tab"
        data-height="false"
      >Inspections</a>
      <a
        id="nav-notices-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :notices) %>"
        role="tab"
        data-bs-target="#notices"
        data-bs-toggle="tab"
        data-height="false"
      >Notices of Non-Compliance</a>
      <a
        id="nav-rules-tab"
        class="nav-item nav-link <%= active_item(params[:tab] == :rules) %>"
        href="#rules"
        role="tab"
        data-bs-target="#rules"
        data-bs-toggle="tab"
        data-height="false"
      >Rules</a>
    </div>
  </nav>
  <div class="tab-content ps-3 pt-2">
    <div 
      id="details" 
      class="tab-pane fade<%= ' show active' if params[:tab] == :details || params[:tab].nil? %>" 
      role="tabpanel"
    >
      <div class="row">
        <div class="col-md-6">
          <div class="card border border-secondary">
            <div class="card-header">
              <strong class="card-title">Information</strong>
            </div>
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Name</th>
                    <td><%= @cemetery.name %></td>
                  </tr>
                  <tr>
                    <th scope="row">Cemetery ID</th>
                    <td><%= @cemetery.formatted_cemid %></td>
                  </tr>
                  <tr>
                    <th scope="row">Location</th>
                    <td><%= "#{@cemetery.towns.to_sentence}, #{@cemetery.county_name} County" %></td>
                  </tr>
                  <tr>
                    <th scope="row">Last Inspection</th>
                    <td><%= formatted_last_inspection @cemetery %></td>
                  </tr>
                  <tr>
                    <th scope="row">Last Audit</th>
                    <td><%= formatted_last_audit @cemetery %></td>
                  </tr>
                  <tr>
                    <th scope="row">Rules and Regulations</th>
                    <td>
                      <%= @cemetery.current_rules ? 
                        raw("Approved #{@cemetery.current_rules.approval_date} (#{link_to 'view', rules_by_date_cemetery_path(cemid: @cemetery.cemid, date: @cemetery.current_rules.approval_date.iso8601)})") : 
                        'None added.' 
                      %>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">Service Charges</th>
                    <td>None added.</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <iframe
            class="b-0"
            width="100%"
            height="425"
            frameborder="0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= Rails.application.credentials.google[:api_key] %>&q=<%= "#{@cemetery.latitude},#{@cemetery.longitude}" %>"
          ></iframe>
        </div>
      </div>
    </div>
    <div id="trustees" class="tab-pane fade<%= ' show active' if params[:tab] == :trustees %>" role="tabpanel">
      <%= render partial: 'trustees/list' %>
    </div>
    <div id="complaints" class="tab-pane fade<%= ' show active' if params[:tab] == :complaints %>" role="tabpanel">
      <%= render partial: 'complaints/list' %>
    </div>
    <div id="inspections" class="tab-pane fade<%= ' show active' if params[:tab] == :inspections %>" role="tabpanel">
      <%= render partial: 'cemetery_inspections/list' %>
    </div>
    <div id="notices" class="tab-pane fade<%= ' show active' if params[:tab] == :notices %>" role="tabpanel">
      <%= render partial: 'notices/list' %>
    </div>
    <div id="rules" class="tab-pane fade<%= ' show active' if params[:tab] == :rules %>" role="tabpanel">
      <%= render partial: 'rules/list' %>
    </div>
  </div>
</section>
