<h6 class="card-title card-header" style="margin-bottom: 8px;">Cemetery Information</h6>
<div class="form-row">
  <div class="form-group col-md-6 required">
    <div style="padding-right: 30px">
      <%= label_tag :non_compliance_notice_cemetery_county, "County" %>
      <%= select_tag :non_compliance_notice_cemetery_county, options_for_select(COUNTIES.invert), prompt: "Select county", class: "form-control" %>
    </div>
  </div>
  <div class="form-group col-md-6 required">
    <%= f.label :cemetery, "Cemetery" %>
    <%= f.select :cemetery, grouped_options_for_select(cemetery_options), { prompt: "Select cemetery" }, class: "form-control" %>
  </div>
</div>
<div class="form-row">
  <div class="form-group col-md-6 required">
    <%= f.label :served_on_name, "Served On" %>
    <%= f.text_field :served_on_name, class: "form-control" %>
  </div>
  <div class="form-group col-md-6 required">
    <%= f.label :served_on_title, "Title" %>
    <%= f.select :served_on_title, options_for_select(POSITIONS.invert), { prompt: "Select position" }, class: "form-control" %>
  </div>
</div>
<div class="form-group required">
  <%= f.label :served_on_street_address, "Address" %>
  <%= f.text_field :served_on_street_address, class: "form-control" %>
</div>
<div class="form-row">
  <div class="form-group col-md-6 required">
    <%= f.label :served_on_city, "City" %>
    <%= f.text_field :served_on_city, class: "form-control" %>
  </div>
  <div class="form-group col-md-2 required">
    <%= f.label :served_on_state, "State" %>
    <%= f.select :served_on_state, options_for_select(STATES, @notice.served_on_state), {}, class: "form-control" %>
  </div>
  <div class="form-group col-md-4 required">
    <%= f.label :served_on_zip, "ZIP Code" %>
    <%= f.text_field :served_on_zip, class: "form-control" %>
  </div>
</div>
<h6 class="card-title card-header" style="margin-bottom: 8px;">Violation Information</h6>
<div class="form-group required">
  <%= f.label :law_sections, "Law Sections" %>
  <%= f.text_area :law_sections, size: "20x10", class: "form-control" %>
</div>
<div class="form-group required">
  <%= f.label :specific_information, "Specific Information" %>
  <%= f.text_area :specific_information, size: "20x10", class: "form-control" %>
</div>
<div class="form-row">
  <div class="form-group col-md-6 required">
    <%= f.label :violation_date, "Violation Date" %>
    <div class="input-group">
      <%= f.date_field :violation_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group col-md-6 required">
    <%= f.label :response_required_date, "Response Required" %>
    <div class="input-group">
      <%= f.date_field :response_required_date, class: "form-control" %>
    </div>
  </div>
</div>
<h6 class="card-title card-header" style="margin-bottom: 8px;">Notice Details</h6>
<div class="form-group">
  <%= f.label :notes, "Notes" %>
  <%= f.text_area :notes, size: "20x10", class: "form-control" %>
</div>
