<% if params.has_key? :prompt %>
  <div class="modal" id="non-compliance-download-notice" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Download .docx Notice of Non-Compliance</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Your Notice of Non-Compliance was successfully created.  Click below to download.<br /><br />
            <a href="" data-dismiss="modal" class="btn btn-outline-secondary btn-lg btn-block" id="download-docx-notice-link" onclick="javascript:window.location='<%= download_non_compliance_notice_path(@notice) %>'"><%= "Download #{@notice.notice_number}.docx" %></a>
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="content">
  <div class="card mb-1">
    <div class="card-header">
      <strong>Notice Details</strong>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="row" colspan="5">Cemetery Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">Notice Number</th>
            <td colspan="4"><%= @notice.notice_number %></td>
          </tr>
          <tr>
            <th scope="row">Cemetery</th>
            <td colspan="4"><%= link_to @notice.cemetery.name, @notice.cemetery %> (<%= @notice.cemetery.cemetery_id %>)</td>
          </tr>
          <tr>
            <th scope="row">Served On</th>
            <td colspan="4"><%= @notice.served_on_name %><br /><%= @notice.served_on_street_address %><br /><%= @notice.served_on_city %>, <%= @notice.served_on_state %> <%= @notice.served_on_zip %></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="row" colspan="5">Violation Information</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row" style="width: 20%;">Law Sections</th>
            <td colspan="4"><%= @notice.law_sections %></td>
          </tr>
          <tr>
            <th scope="row">Specific Information</th>
            <td colspan="4"><%= @notice.specific_information %></td>
          </tr>
        </tbody>
      </table>
      <%= form_with url: update_parameters_non_compliance_notice_path(@notice), method: :patch do |f| %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th colspan="5">Dates</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th style="width: 20%;">Violation Date</th>
              <th style="width: 20%;">Notice Date</th>
              <th style="width: 20%;">Response Required</th>
              <th style="width: 20%;">Response Received</th>
              <th style="width: 20%;">Follow-Up Inspection</th>
            </tr>
            <tr>
              <td><%= @notice.violation_date %></td>
              <td><%= @notice.created_at %></td>
              <td><%= @notice.response_required_date %></td>
              <td>
                <% if @notice.response_received_date %>
                  <%= @notice.response_received_date %>
                <% else %>
                  <div id="response-received-edit-text">
                    <span id="response-received-date">Not yet received</span> <a href="" id="edit-response-received-date" class="pl-2"><i class="fa fa-pencil"></i></a>
                  </div>
                  <div id="response-received-area" style="display: none;">
                    <div class="input-group pb-1">
                      <input type="text" name="response_received_date" id="response-received-date-field" class="form-control" value="<%= Date.today.strftime("%m/%d/%Y") %>" /><br />
                    </div>
                    <button id="update-response-received-date" class="btn btn-secondary">Submit</button>
                    <a href="#" id="cancel-response-received-date" class="btn btn-secondary">Cancel</a>
                  </div>
                <% end %>
              </td>
              <td>
                <% if @notice.follow_up_inspection_date %>
                  <%= @notice.follow_up_inspection_date %>
                <% elsif @notice.response_received_date %>
                  <div id="follow-up-inspection-edit-text">
                    <span id="follow-up-inspection-date">Not yet performed</span> <a href="" id="edit-follow-up-inspection-date" class="pl-2"><i class="fa fa-pencil"></i></a>
                  </div>
                  <div id="follow-up-inspection-area" style="display: none;">
                    <div class="input-group pb-1">
                      <input type="text" name="follow_up_inspection_date" id="follow-up-inspection-date-field" class="form-control" value="<%= Date.today.strftime("%m/%d/%Y") %>" /><br />
                    </div>
                    <button id="update-follow-up-inspection-date" class="btn btn-secondary">Submit</button>
                    <a href="#" id="cancel-follow-up-inspection-date" class="btn btn-secondary">Cancel</a>
                  </div>
                <% else %>
                  Not yet performed
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <%= render 'application/show_notes', object: @notice %>
</div>