<li class="nav-item with-sub">
  <a class="nav-link" href="#">
    <i class="material-icons mr-2 tx-primary">inbox</i>
    <span>Inbox</span>
  </a>
  <div class="sub-item">
    <ul>
      <li><%= active_circle_link 'Rules and Regulations', rules_approvals_path, current_user.rules_approvals.where.not(status: :revision_requested).any? %></li>
    </ul>
  </div>
</li>
<li class="nav-item with-sub mega-dropdown">
  <a class="nav-link" href="#">
    <i class="material-icons mr-2 tx-primary">work</i>
    <span>Applications</span>
  </a>
  <div class="sub-item">
    <div class="row">
      <div class="col-lg-4">
        <label class="section-label">Land</label>
        <ul>
          <li><%= active_circle_link 'Land Purchase', board_applications_land_index_path(application_type: :purchase), current_user.land_purchases.any? %></li>
          <li><%= active_circle_link 'Land Sale', board_applications_land_index_path(application_type: :sale), current_user.land_sales.any? %></li>
        </ul>
        <label class="section-label mg-t-20">Major Renovations</label>
        <ul>
          <li><%= link_to "Mausoleum", "#" %></li>
          <li><%= link_to "Columbarium", "#" %></li>
        </ul>
      </div>
      <div class="col-lg mg-t-30 mg-lg-t-0">
        <label class="section-label">Restoration</label>
        <ul>
          <li><%= active_circle_link 'Hazardous Monuments', board_applications_hazardous_index_path, current_user.hazardous.any? %></li>
          <li><%= link_to 'Vandalism', board_applications_vandalism_index_path %></li>
          <li><%= link_to 'Abandonment', board_applications_abandonment_index_path %></li>
        </ul>
      </div>
      <div class="col-lg mg-t-30 mg-lg-t-0">
        <label class="section-label">Other</label>
        <ul>
          <li><%= link_to "Incorporation", "#" %></li>
          <li><%= link_to "Merger", "#" %></li>
        </ul>
      </div>
    </div>
  </div>
</li>
<li class="nav-item with-sub">
  <a class="nav-link" href="#">
    <i class="material-icons mr-2 tx-primary">highlight</i>
    <span>Inspections</span>
  </a>
  <div class="sub-item">
    <ul>
      <li><%= active_circle_link 'Scheduled inspections', scheduled_cemetery_inspections_path, current_user.appointments.where(status: :scheduled).any? %></li>
      <li><%= active_circle_link 'Incomplete inspections', incomplete_cemetery_inspections_path, current_user.incomplete_inspections.any? %></li>
      <li><%= active_circle_link 'Overdue inspections', overdue_inspections_cemeteries_path, current_user.overdue_inspections.any? %></li>
    </ul>
  </div>
</li>
<li class="nav-item with-sub">
  <a class="nav-link" href="#">
    <i class="material-icons mr-2 tx-primary">search</i>
    <span>Investigations</span>
  </a>
  <div class="sub-item">
    <ul>
      <li class="sub-with-sub">
        <a href="#">Complaints</a>
        <ul>
          <li><%= active_circle_link "Active complaints", complaints_path, current_user.complaints.any? %></li>
          <li><%= link_to 'Add new complaint', new_complaint_path %></li>
        </ul>
      </li>
      <li class="sub-with-sub">
        <a href="#">Non-Compliance</a>
        <ul>
          <li><%= active_circle_link 'Active notices', notices_path, current_user.notices.any? %></li>
          <li><%= link_to 'Issue new notice', new_notice_path %></li>
        </ul>
      </li>
    </ul>
  </div>
</li>
