<% content_for :title, 'Upload Previously Approved Rules' %>
<% content_for :breadcrumbs, breadcrumbs_helper(['Upload previously approved rules']) %>
<%= form_for @rules, method: :post, builder: BracegirdleFormBuilder do |f| %>
  <section class="section-wrapper">
    <%= content_tag(:div, 'There was a problem saving these rules!', class: 'alert alert-danger', role: 'alert') if @rules.errors.any? %>
    <label class="section-title">Cemetery Information</label>
    <%= render partial: 'application/cemetery_with_county_form_part', locals: { f: f, object: @rules, instance: 'rules-1' } %>
  </section>
  <section class="section-wrapper mt-1">
    <label class="section-title">Rules</label>
    <div class="row">
      <div class="col">
        <div class="form-group required">
          <%= f.label :rules_document, 'File' %>
          <div class="bracegirdle-file">
            <%= f.file_field :rules_document, class: 'bracegirdle-file-input' %>
            <label class="bracegirdle-file-label" for="rules_document">Choose file</label>
          </div>
          <small class="form-text text-muted">Acceptable file formats are .doc, .docx, and .pdf</small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <%= f.select :approved_by, 
          employee_options(@rules.approved_by), 
          { label: 'Approved By', prompt: 'Unknown' }, 
          { class: 'form-control choices-basic' }
        %>
      </div>
      <div class="col-md-4">
        <%= f.date_field :approval_date, label: 'Date Approved', required: true %>
      </div>
    </div>
    <div class="form-layout-footer mt-4">
      <%= f.button 'Upload Rules', class: 'btn btn-primary' %>
    </div>
  </section>
<% end %>