<% content_for :title, "Rules for #{@rules.cemetery.name}" %>
<% content_for :breadcrumbs, breadcrumbs_helper([["#{@rules.cemetery.formatted_name}", cemetery_path(@rules.cemetery)], 'Rules and Regulations']) %>
<div data-controller="rules--show">
  <section id="rules-show" class="section-wrapper">
    <div
      class="disappearing-success-message<%= ' hidden' unless flash[:success] %>"
      data-target="rules--show.successMessage"
    >
      <div class="alert alert-success"><%= flash[:success] %></div>
    </div>
    <div class="row mb-2">
      <div class="col-md-11 col-sm-3">
        <label class="section-title">Rules (approved <%= @rules.approval_date %>)</label>
      </div>
      <div class="col-md-1 text-right">
        <%= link_to rails_blob_path(@rules.rules_document, disposition: 'attachment') do %>
          <i class="material-icons tx-black">cloud_download</i>
        <% end %>
      </div>
    </div>
    <%= render partial: 'application/pdf_viewer',
      locals: {
        pdf: @rules.rules_document
      }
    %>
  </section>
  <section class="section-wrapper mt-1 pt-5">
    <label class="section-title mb-4">Information</label>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th class="w-30">Approved By</th>
          <td>
            <% if @rules.approved_by %>
              <%= @rules.approved_by.name %>
              <%= raw("(#{link_to 'download approval letter', 
                '#rules-download-approval-letter', 
                id: 'download-rules-approval',
                data: {
                  bs_target: '#rules-download-approval-letter', 
                  bs_toggle: 'modal' 
                }})"
              ) unless @rules.previously_approved? %>
            <% else %>
              Unknown
            <% end %>
          </td>
        </tr>
        <tr>
          <th>Approval Date</th>
          <td><%= @rules.approval_date %></td>
        </tr>
        <tr>
          <th>Other Rules</th>
          <td><%= raw other_rules(@rules.cemetery, @rules.id) %></td>
        </tr>
      </tbody>
    </table>
  </section>
  <% if @rules.rules_approval %>
    <div 
      id="rules-download-approval-letter" 
      class="modal"
      data-show="<%= flash[:download_letter] %>"
      data-target="rules--show.downloadApprovalLetterModal"
    >
      <div class="modal-dialog w-40" role="document">
        <div class="modal-content">
          <div class="modal-header px-4">
            <h6 class="tx-14 mb-0 tx-uppercase tx-inverse tx-bold">Download Approval Letter for Rules</h6>
            <button 
              type="button" 
              class="close"
              data-bs-target="#rules-download-approval-letter" 
              data-bs-toggle="modal" 
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body p-4">
            <p class="text-center">
              Click below to download the approval letter for these rules.
              <br />
              <br />
              <%= link_to content_tag(:i, 'picture_as_pdf', class: 'material-icons me-2') + "Download Rules-Approval-#{@rules.rules_approval.identifier}.pdf", 
                '#', 
                data: {
                  bs_target: '#rules-download-approval-letter',
                  bs_toggle: 'modal' 
                }, 
                class: 'btn btn-outline-secondary btn-lg btn-block', 
                id: 'download-rules-approval-link', 
                onclick: "javascript:window.location=\"#{download_approval_letter_rules_approval_path(@rules.rules_approval, "Download-Approval-Rules-#{@rules.rules_approval.identifier}")}\"" 
              %>
            </p>
          </div>
          <div class="modal-footer">
            <button 
              type="button" 
              class="btn btn-secondary"
              data-bs-target="#rules-download-approval-letter" 
              data-bs-toggle="modal"
            >Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>