<%= form_with model: [@cemetery, Trustee.new(state: 'NY')],
  local: false,
  url: @cemetery ? cemetery_trustees_path(@cemetery) : '', 
  builder: BracegirdleFormBuilder do |f| 
%>
  <div 
    id="trustee-form-modal" 
    class="modal fade"
    data-controller="trustees--form"
    data-target="trustees--index.trusteeForm trustees--select-for-cemetery.trusteeFormModal"
  >
    <div class="modal-dialog modal-lg w-60" role="document">
      <div class="modal-content">
        <div class="modal-header px-4">
          <h6 
            class="tx-14 mb-0 tx-uppercase tx-inverse tx-bold"
            data-target="trustees--form.title"
          >Add New Trustee</h6>
          <button 
            class="close" 
            type="button"
            data-bs-target="#trustee-form-modal"
            data-bs-toggle="modal" 
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body p-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-8">
                <%= f.text_field :name, required: true %>
              </div>
              <div class="col-md-4">
                <%= f.select :position,
                  options_for_select(Trustee.positions_for_select),
                  { prompt: 'Select position', required: true, without_choices: true },
                  { 
                    data: {
                      target: 'trustees--form.positionSelectElement'
                    }
                  }
                %>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <%= f.text_field :street_address %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.text_field :city %>
              </div>
              <div class="col-md-2">
                <%= f.select :state, 
                  options_for_select(STATES, f.object.state), 
                  { without_choices: true },
                  { 
                    data: {
                      target: 'trustees--form.stateSelectElement'
                    }
                  }
                %>
              </div>
              <div class="col-md-4">
                <%= f.text_field :zip, label: 'ZIP Code' %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <%= f.text_field :phone, label: 'Phone number' %>
              </div>
              <div class="col-md-6">
                <%= f.text_field :email, label: 'Email address' %>
              </div>
            </div>
          </div>
          <div class="modal-footer mt-4">
            <button 
              class="btn btn-primary"
              data-target="trustees--form.submit"
            >Add New Trustee</button>
            <button 
              type="button" 
              class="btn btn-secondary"
              data-bs-target="#trustee-form-modal"
              data-bs-toggle="modal"
            >Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
