$('#trustee-form').modal('hide');
var rowNode = $('#trustees-data-table').DataTable().row.add([
    "<%=  @trustee.name %>",
    "<%=  @trustee.position_name %>",
    "<%=  @trustee.full_address.presence || '---' %>",
    "<%=  @trustee.phone.presence || '---' %>",
    "<%=  @trustee.email.presence || '---' %>",
    '<a href="#" class="edit-trustee" data-cemetery="<%= @trustee.cemetery.id %>" data-trustee="<%= @trustee.id %>" onclick="window.edit_trustee(event);"><i class="fa fa-edit"></i></a>'
]).draw(false).node();
rowNode.attr('id', "trustee-<%= @trustee.id %>");