<section class="section-wrapper">
  <div data-controller="datatable">
    <table 
      id="board-meetings-data-table"
      class="table display responsive no-wrap"
      data-empty-message="There are no board meetings to display."
    >
      <thead>
        <tr>
          <th>Meeting</th>
          <th>Date</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        <% @board_meetings.each do |board_meeting| %>
          <tr>
            <td>
              <span class="d-none"><%= sort_date(board_meeting.date) %></span>
              <%= link_to board_meeting, board_meeting %>
            </td>
            <td>
              <span class="d-none"><%= sort_date(board_meeting.date) %></span>
              <%= board_meeting.date.strftime('%A, %B %-d, %Y at %R %p') %>
            </td>
            <td><%= board_meeting.location %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
