<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <%= csrf_meta_tag %>
    <title><%= yield :title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <%= stylesheet_pack_tag 'stylesheet', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_pack_path('media/images/favicon.ico') %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="main">
    <header class="slim-header">
      <div class="container">
        <div class="slim-header-left">
          <div class="slim-logo">
            <img src='<%= asset_pack_path 'media/images/cemeteries-logo.jpg' %>' height="55" width="193" />
          </div>
        </div>
        <div class="slim-header-right">
          <% if current_user %>
            <%= form_with url: search_path, local: true do |f| %>
              <div class="search-box mg-r-20">
                <input
                  type="text"
                  id="search-box"
                  name="search"
                  class="form-control"
                  placeholder="Search for cemeteries" />
                <button name="search-button" class="btn btn-primary">
                  <i class="material-icons tx-small" style="margin-left: -2.5px;">search</i>
                </button>
              </div>
            <% end %>
            <div
              id="notifications"
              class="dropdown dropdown-b mg-r-10"
              data-action=
                "bracegirdle:notifications:notificationRead->main#notificationRead
                bracegirdle:notifications:allNotificationsRead->main#allNotificationsRead"
            >
              <a class="header-notification tx-primary" href="#" data-toggle="dropdown">
                <i class="material-icons">notifications</i>
                <span 
                  class="indicator<%= ' d-none' unless current_user.notifications.count > 0 %>"
                  data-target="main.notificationsUnreadIndicator"
                ></span>
              </a>
              <div class="dropdown-menu" style="position: absolute !important;">
                <div class="dropdown-menu-header">
                  <h6 class="dropdown-menu-title">Notifications</h6>
                  <div>
                    <%= link_to 'Mark All as Read', 
                      mark_read_all_notifications_path, 
                      data: {
                        action: 'main#markAllNotificationsRead'
                      }
                    %>
                    <a href="#">Settings</a>
                  </div>
                </div>
                <div class="dropdown-list">
                  <%= render(
                    partial: 'notifications/notification', 
                    collection: Notification.includes(:sender, :object).for_user(current_user).order(created_at: :desc).limit(5)
                    ) || render(partial: 'notifications/none')
                  %>
                  <div class="dropdown-list-footer">
                    <a href="#">
                      <i class="fa fa-angle-down"></i>
                      Show All Notifications
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="dropdown dropdown-c">
              <a class="logged-user" href="#" data-toggle="dropdown">
                <%= current_user.name %>
                <i class="fa fa-angle-down ml-2"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <nav class="nav">
                  <%= link_to user_profile_path, class: 'nav-link' do %>
                    <i class="material-icons mr-2">person</i> Profile
                  <% end %>
                  <%= link_to calendar_user_path, class: 'nav-link' do %>
                    <i class="material-icons mr-2">calendar_today</i> Calendar
                  <% end %>
                  <%= link_to change_user_password_path, class: 'nav-link' do %>
                    <i class="material-icons mr-2">vpn_key</i> Change Password
                  <% end %>
                  <%= link_to "#", class: 'nav-link' do %>
                    <i class="material-icons mr-2">settings</i> Settings
                  <% end %>
                  <%= link_to logout_path, class: 'nav-link' do %>
                    <i class="material-icons mr-2">exit_to_app</i> Sign Out
                  <% end %>
                </nav>
              </div>
            </div>
          <% else %>
            <%= link_to 'Sign In', authentication_path, method: :post %>
          <% end %>
        </div>
      </div>
    </header>
    <%= render "layouts/navbar/main" %>
    <main role="main" class="slim-mainpanel">
      <div class="container">
        <div class="slim-pageheader">
          <ol class="breadcrumb slim-breadcrumb">
            <%= yield :breadcrumbs %>
          </ol>
          <h6 class="slim-pagetitle"><%= yield :title %></h6>
        </div>
        <%= yield %>
        <%= render partial: 'application/confirmation_modal' %>
      </div>
    </main>
  </body>
</html>
